streamlit
pandas
numpy
matplotlib
scipy
mplcursors
plotly
reportlab
kaleido>=0.2.1
fpdf
Pillow
seaborn
python-bidi
arabic-reshaper
biopython>=1.78
streamlit
pandas
tabula-py
openpyxl
pdfplumber
xlsxwriter
