streamlit
pandas
numpy
matplotlib
scipy
mplcursors
plotly
reportlab
kaleido>=0.2.1
fpdf
Pillow
seaborn
python-bidi
arabic-reshaper
biopython>=1.78
pandas
tabula-py
openpyxl
pdfplumber
xlsxwriter
python-docx
streamlit
pillow
pandas
xlsxwriter
pytesseract
PdfMerger
pypdf
python-docx
docx2pdf
streamlit-sortable
